body {
  margin: 0;
  min-height: 100vh;
  display: block; 
  
  
}
#root{
  width: 100%;
}
header {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  width: 100%;
  text-align: center;
}
.nav-bar {
  display: flex;
  gap:10px;

  padding:1%;
  color: black
}
.detalleProducto {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.tarjeta-producto{
border: 1px solid black;
background-color: rgb(239, 240, 241);
padding: 1%;
color: black
}
.tarjeta-producto img {
  border: 2px solid black;
}
.tarjeta-producto:nth-child(odd){
  background-color: rgb(206, 205, 205);
}
.controles-paginas{
  display: flex;
  justify-content: center;
}
.contacto form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.contacto input, textarea {
  margin: 5px 0;
  padding: 5px;
}

.contacto button {
  margin-top: 10px;
  padding: 6px;
  border: 1px solid black
}

.modal {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-formulario {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
    min-width: 300px;
    color: black;
    gap: 15px;
}
.modal-formulario input,
.modal-formulario textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 14px;
  
}

.modal-formulario textarea {
    height: 80px;
}



.modal-formulario button {
    width: 40%;
    cursor: pointer;
}

.modal-formulario button:hover {
    background: #504e4e;
}