body {
  margin: 0;
  min-height: 100vh;
  display: block; 
  
  
}
#root{
  width: 100%;
}
header {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.detalleProducto {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.tarjeta-producto{
border: 1px solid black;
background-color: rgb(239, 240, 241);
padding: 1%;
color: black
}
.tarjeta-producto img {
  border: 2px solid black;
}
.tarjeta-producto:nth-child(odd){
  background-color: rgb(206, 205, 205);
}
.controles-paginas{
  display: flex;
  justify-content: center;
}
.contacto form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.contacto input, textarea {
  margin: 5px 0;
  padding: 5px;
}

.contacto button {
  margin-top: 10px;
  padding: 6px;
  border: 1px solid black
}